---
import Layout from '@/layouts/Layout.astro';
import Meta from '@/components/Meta/metadata.astro';
import { Button } from '@/components/Button/Rounded';
import { navigate } from 'astro:transitions/client';
---

<!doctype html>
<html lang='en'>
  <Layout title='404 - Page Not Found'>
    <Meta slot='meta' title='Không gian nhà nông' />
    <div
      class='text-center p-6 flex flex-col items-center gap-4'
      slot='content'
    >
      <h1 class='text-6xl font-bold text-gray-800'>Oops!</h1>
      <p class='text-2xl text-gray-600'>
        Trang bạn đang tìm kiếm không tồn tại.
      </p>
      <a
        href='/'
        class='mt-4 inline-block bg-gradient text-white px-6 py-2 rounded'
      >
        Quay lại trang chủ
      </a>
    </div>
  </Layout>
</html>
