---
import Layout from '@/layouts/Layout.astro';
import Meta from '@/components/Meta/metadata.astro';
import { Button } from '@/components/Button/Rounded';
---

<!doctype html>
<html lang='en'>
  <Layout title='404 - Page Not Found'>
    <Meta slot='meta' title='Không gian nhà nông' />
    <div class='text-center p-6' slot='content'>
      <h1 class='text-6xl font-bold text-gray-800 mb-4'>Oops!</h1>
      <p class='text-2xl text-gray-600 mb-6'>
        Trang bạn đang tìm kiếm không tồn tại.
      <Button
        variant='default'
        size='lg'
      >
        Quay lại trang chủ
      </Button>
    </div>
  </Layout>
</html>
