---
// import { getLocaleFromUrl, useTranslations } from '../../utils/i18n';
import { author as packageAuthor } from '../../../package.json';

type Props = {
  title?: string;
  author?: string;
  description?: string;
};

// const locale = getLocaleFromUrl(Astro.url);
const props = Astro.props;
// const t = useTranslations(locale);

const title = props.title ? `${props.title} - Không gian nhà nông` : 'Không gian nhà nông';
const author = props.author || packageAuthor;
const description = props.description || 'description';
---

<meta charset='UTF-8' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<title>{title}</title>
<meta name='author' content={author} />
<meta name='description' content={description} />
<link
  rel='icon'
  type='image/png'
  href='https://atm267252-s3user.vcos.cloudstorage.com.vn/LOCAL/product/logo_1739620073944.png'
/>