---
import Header from '@/components/Header/index.astro';
import Footer from '@/components/Footer/PageFooter.astro';
import '@/styles/global.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <slot name='meta' />
  </head>
  <body class='max-w-full overflow-x-hidden'>
    <Header />
    <main class='px-4 md:px-8 lg:px-[10rem] pb-10 overflow-x-hidden'>
      <slot name='content' />
      <slot name='error' />
      <slot name='modal' />
      <slot name='dialog' />
      <slot name='snack' />
      <slot name='menu-drawer' />
    </main>
    <Footer />
  </body>
</html>
